@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
@import "variables";
@import "normalize";

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.app {
    @include fontStyle();

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 100vh;
    }

    &__content-center, &__content-left {
        @include container();
        margin-top: 86px;
        display: flex;
        flex-direction: column;
        height: 100%;

        > * {
            margin-top: 60px;
        }
    }

    &__content-left {
        align-items: start;
    }

    input[type="number"] { // remove arrows from input type number
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
