@import "./src/style/variables";

.checkout-modal {
    @include defaultModal();

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 300px;
        background: #FFFFFF;
        border-radius: 20px;
    }

    &__top {
        position: relative;

        &-exit-btn {
            cursor: pointer;
            position: absolute;
            width: 19px;
            height: 19px;
            right: 20px;
            top: 20px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 80%;

        &-img {
            margin-bottom: 45px;
        }

        &-title {
            @include fontStyle();
            font-weight: 600;
            font-size: 20px;
            line-height: 24px;
            color: black;
            text-align: center;
        }
    }
}