@import "./src/style/variables";

.addresses {
  @include defaultFlexContainer();
  @include defaultForm();

  &__wrapper {
    display: flex;
    flex-direction: column;

    &-row {
      display: flex;
      flex-direction: row;
    }
  }

  &__container {
    margin-left: 100px;
    h3 {
      font-size: 17px;
      margin-top: 0;
    }
  }

  &__items {
    padding-left: 0;
  }

  &__item {
    display: flex;
    flex-direction: column;
  }

  &__error {
    color: #B75615;

  }
}
