.promo {
  margin-right: 40px;

  input {
    width: 110px;
    height: 31px;
    background: rgba(221, 221, 221, 0.3);
    border: 1px solid rgba(183, 86, 21, 0.5);
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 17px;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      font-family: 'Montserrat', sans-serif;
      font-variant: small-caps;
    }
  }

  &__btn {
    height: 31px;
    background: rgba(221, 221, 221, 0.3);
    border: 1px solid rgba(183, 86, 21, 0.5);
    border-left: 0;
    box-sizing: border-box;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    font-size: 17px;
    padding: 4px;

    &:hover {
      background: rgba(0, 0, 0, .1);
    }
  }
}