.footer {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    border-top: 1px solid #B75615;
    bottom: 0;
    background-color: white;
    margin-top: 100px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1322px;

        @media (max-width: 1500px) {
            max-width: 1320px;
        }

        @media (max-width: 1319px) {
            max-width: 1150px;
        }

        @media (max-width: 1149px) {
            max-width: 963px;
        }

        @media (max-width: 962px) {
            margin: 0 60px 0 60px;
        }
    }

    &__section{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: 0;
    }

    &__button{
        margin-bottom: 10px;

        &:last-child{
            margin-bottom: 0;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 17px;
            font-weight: 600;
        }
    }

    &__copyright{
        span{
            font-size: 17px;
            font-weight: 600;
        }
    }
}