@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.app {
    font-family: 'Montserrat', sans-serif;

    &__body {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        min-height: 100vh;
    }

    &__content-center, &__content-left {
        padding-top: 86px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        width: 1320px;

        > * {
            margin-top: 100px;
        }
    }

    &__content-center {
        align-items: center;
    }

    &__content-left {
        align-items: start;
    }

}