.slider {
    display: flex;
    position: relative;
    width: 1320px;
    height: 326px;

    &__page {
        margin-top: 100px;
    }

    &__item {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &__inner{
        display: flex;
        width: 100%;
        height: 100%;
        transition: 0.5s all;
    }

    &__banner{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    &__arrow-left {
        position: absolute;
        margin: auto;
        left: 22px;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

    &__arrow-right {
        position: absolute;
        margin: auto;
        right: 22px;
        top: 0;
        bottom: 0;
        z-index: 1;
    }

    &__title{
        position: absolute;
        margin: auto;
        left: 131px;
        top: 103px;
        bottom: 182px;
        font-size: 34px;
        font-weight: 600;
        color: white;
    }

    &__description{
        position: absolute;
        margin: auto;
        left: 131px;
        top: 168px;
        bottom: 104px;
        font-size: 34px;
        font-weight: 600;
        color: white;
    }

    &__navigation{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &__navigation-dot{
        position: absolute;
        bottom: 10px;
        z-index: 1;
    }

    &__dot{
        margin-right: 15px;
        cursor: pointer;
        z-index: 1;

        &:last-child{
            margin-right: 0;
        }
    }
}

.clickable {
    cursor: pointer;
}